/* BottomNav.css */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: white; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #ccc;
    z-index: 1000;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  /* Hide navbar when scrolling down */
.bottom-nav.hidden {
    transform: translateY(100%); /* Move navbar out of view */
    opacity: 0;
}

/* Show navbar when scrolling up */
.bottom-nav.visible {
    transform: translateY(0);
    opacity: 1;
}

  .bottom-nav div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #553C8B;
    font-size: 12px;
    cursor: pointer;
  }
  
  .nav-icon {
    font-size: 20px;
    margin-bottom: 2px;
  }
  
  @media screen and (min-width: 1024px) {
    .bottom-nav {
      display: none !important;
    }
  }